#page_1
    {
        background-image: url(../img/page-1-background.jpg);
        background-repeat: no-repeat;
    } 

@media all and (min-width: 1024px)
{
   #page_1
    {
        background-size: cover;
    }
}